.container{
    text-align: center;
    margin: 10px;
}

.grid-container{
    display: grid;
}

.pokemon-card{
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  background-color: #d2d2d2;
}

.card-header{
  font-size: 20px;
  border-radius: 8px 8px 0 0;
  margin-top: 0.5px;
  font-weight: 300;
  padding: 5px;
  background-color: #fe3837;
}

.card-image{
  width: 100%;
}

.card-footer{
  height: 40px;
  background-color: #aaaaaa;
}

.type-pokemon{
  display: inline;
  position: relative;
  top: 10px;
  padding: 5px;
}